$black: #232323;
$white: #ffffff;
$red: #f44336;
$orange: #ff9800;
$yellow: #ffca2b;
$green: #00c853;
$lightBlue: #4fc3f7;
$blue: #1e88e5;
$indigo: #3f51b5;
$purple: #ab47bc;
$pink: #e91e63;
$gray500: #9e9e9e;
$gray400: #aeaeb2;
$gray300: #c7c7cc;
$gray200: #d1d1d6;
$gray100: #e5e5ea;
$gray50: #f2f2f7;

$max-width-xs: 20.25rem; // 324px
$max-width-sm: 41.25rem; // 660px
$max-width-md: 56.25rem; // 900px
$max-width-lg: 62.5rem; // 1000px

// Media Query Sizes
$xs: 450px;
$sm: 600px;
$md: 1024px;
$lg: 1200px;
